{% extends 'layout.html' %}

{% block content %}
    <div class="mypage_info">My Page</div>
      <table class="table table table-bordered">
    <thead>
    <tr>
        <th scope="col">식물 이름</th>
        <th>급수 주기(~일에 한번)</th>
        <th>급수 시간</th>
        <th>급수량(mL)</th>
        <th>화분 위치</th>
        {%for row in rows%}
            </tr>
     </thead>
            <tbody>
        <tr>

          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>


        </tr></tbody>
        {% endfor %}


    </table>
{% endblock %}
