<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
</head>
<body><div class="container">
  <header class="header">
    <h1>Gitta</h1>
  </header>
  <div class="content">
    <aside class="aside">
      <h3>Sidebar</h3>
      <a href="/register">REGISTER</a>
      <p>~~</aside>
    <main class="main">
      <table>

        <th>화분이름</th>
        <th>화분높이</th>
        <th>물받이높이</th>
        <th>물 주기</th>
        <th>물 줄 시간</th>
        <th>물 양</th>
        {%for row in rows%}
        <tr>

          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>


        </tr>
        {% endfor %}


    </table>
    </main>

  </div>
  <footer class="footer">
    &copy;Gitta
  </footer>
</div>
</body>
</html>